<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Snapstahp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2716F9641CBF0FC600408DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2716F9781CBF0FC600408DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2716F9831CBF0FC600408DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
